.grid-container{
    margin: 10px;
    display: grid;
    column-gap: 5px;
    overflow-x: auto;
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  