.navbar{
  display: grid;
  gap: 10px;
}
.navbar-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #73a089;
    position: sticky;
  }
  
  ul li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #639247;
  }

  @media screen and (max-width: 600px) {
    ul li, 
    ul li {float: none;}
  }